h2 {
    padding-bottom: 40px;
}

h4 {
    font-weight: 700;
    font-style: italic;
}

.mainContainer {
    background-color: #d6d5c9;
    font-family: var(--chakra-fonts-body);
}

.contentAbout {
    display: flex;
}

.leftAbout {
    padding: 10px;
    padding-top: 65px;
    padding-left: 65px;
}

.photoAbout {
    padding-bottom: 65px;
    
}

.imgAbout {
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3);
    width: 90%;
    margin-bottom: 50px;
}

.photoTextAbout {
    font-style: italic;
    font-weight: 500;
    padding-left: 40px;
}

.text {
    font-size: 25px;
}

.sectionTitle {
    font-weight: 500;
}

.centerAlignm {
    text-align: center;
}

.certificates {
    margin: 0;
    padding: 65px;
}